<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Detail</title>
  </head>
  <body>
    <form action="/project/edit" method="post" enctype="multipart/form-data">
      <% project.forEach(p => { %>
      <input type="hidden" name="id" value="<%= p.id_project %> " />
      <div class="mb-3">
        <label for="Title" class="form-label">Titile</label>
        <input type="text" class="form-control" id="Title" name="title" value="<%= p.judul_project %>" />
      </div>
      <div class="mb-3">
        <label for="Gambar" class="form-label">Gambar</label>
        <br />
        <img src="../<%= p.gambar_project %>" alt="" width="500" />
        <input type="hidden" name="image" value="<%= p.gambar_project %>" />
        <input type="file" class="form-control" id="Gambar" name="image" />
      </div>
      <div class="mb-3">
        <label for="Deskripsi" class="form-label">Example textarea</label>
        <textarea class="form-control" id="Deskripsi" name="desc" rows="3"><%= p.desc_project %></textarea>
      </div>
      <!-- <input type="submit" class="btn btn-primary" value="Ubah" /> -->
      <button type="submit" class="btn btn-primary">Ubah</button>

      <a href="/project">Kembali</a>
      <% }) %>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
